<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hryvinskyi_seo">
            <resource>Hryvinskyi_Seo::section_image_optimizer</resource>
            <group id="image_optimizer" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Image Optimizer</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_quality" type="text" translate="label comment" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Image Quality</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_webp" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enabled WebP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_avif" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enabled Avif</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_image_expression" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Exclude image expression</label>
                    <comment>Comma separated</comment>
                </field>
                <field id="exclude_picture_expression" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Exclude picture expression</label>
                    <comment>Comma separated</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10000" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
